.App {
}

:root{
  --c-blue:#31326A;
  --c-lightblue:#677399;
  --BLUE:hsla(206, 89%, 30%, 0.89);
  --nav:#E0D8B0;
  --btn-1:#31326A;
  --btn-textcolor:white;
  --dot-slider:#94072F;

  --border-radus-btn:1rem;
}

button{
  border:0;
}
input {
  font-family: inherit;
  font-weight: bolder;
  border:none;
}
input:focus{
  outline:solid 1px;

}

*,
*::before,
*::after{
  padding:0;
  margin: 0;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
